---
- name: Get docker compose from github
  ansible.builtin.get_url:
    url: 'https://raw.githubusercontent.com/zabbix/zabbix-docker/48a86dfa8de7a3d43a392de11aac95d792983e71/docker-compose_v3_alpine_pgsql_latest.yaml'
    dest: ./zabbix-docker/docker-compose_v3_alpine_pgsql_latest.yaml
    mode: '0440'
    
- name: Launch Zabbix with docker-compose
  community.docker.docker_compose_v2:
    project_src: ./zabbix-docker
    files: docker-compose_v3_alpine_pgsql_latest.yaml
