env_name                       = "${ENVIRONMENT}"
service_name                   = "${OVH_CLOUD_PROJECT_SERVICE}"
os_region_name                 = "${OS_REGION_NAME}"
app_vlan_id                    = "${APP_VLAN_ID}"
app_vlan_name                  = "${APP_VLAN_NAME}"
app_vlan_cidr                  = "${APP_VLAN_CIDR}"
app_vlan_ip_start              = "${APP_VLAN_IP_START}"
app_vlan_ip_end                = "${APP_VLAN_IP_END}"
app_vlan_gateway               = "${APP_VLAN_GATEWAY}"
app_vlan_dns                   = [${APP_VLAN_DNS}]
app_vlan_lb_ip                 = "${APP_VLAN_LB_IP}"
admin_vlan_id                  = "${ADMIN_VLAN_ID}"
admin_vlan_name                = "${ADMIN_VLAN_NAME}"
admin_vlan_cidr                = "${ADMIN_VLAN_CIDR}"
admin_vlan_ip_start            = "${ADMIN_VLAN_IP_START}"
admin_vlan_ip_end              = "${ADMIN_VLAN_IP_END}"
admin_vlan_gateway             = "${ADMIN_VLAN_GATEWAY}"
admin_vlan_dns                 = [${ADMIN_VLAN_DNS}]
cluster_version                = "${CLUSTER_VERSION}"
nodepool_flavor                = "${NODEPOOL_FLAVOR}"
desired_nodes                  = ${DESIRED_NODES_NUM}
max_nodes                      = ${MAX_NODES_NUM}
min_nodes                      = ${MIN_NODES_NUM}
global_region                  = "${GLOBALE_REGION}"
database_version               = "${DATABASE_VERSION}"
database_plan                  = "${DATABASE_PLAN}"
database_flavor                = "${DATABASE_FLAVOR}"
database_disk                  = "${DATABASE_DISK_SIZE}"
synapse_db_user                = "${SYNAPSE_DB_USER}"
s3_media_repo_endpoint         = "${AWS_S3_MEDIA_REPO_ENDPOINT}"
ingress_service_port_web       = "${INGRESS_SERVICE_PORT_WEB}"
ingress_service_port_websecure = "${INGRESS_SERVICE_PORT_WEBSECURE}"
dns_zone                       = "${DNS_ZONE}"
dns_zone_exclusive             = ${DNS_ZONE_EXCLUSIVE}
env_in_url                     = "${ENV_IN_URL}"