---
- name: Install required system packages
  apt:
    pkg:
      - apt-transport-https=2.6.1
      - software-properties-common=0.99.30-4.1~deb12u1
      - virtualenv=20.17.1+ds-1
      - python3-setuptools=66.1.1-1
    state: present
    update_cache: true

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/debian/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/debian bookworm stable
    state: present

- name: Update apt and install docker-ce
  apt:
    name: docker-ce=5:27.0.3-1~debian.12~bookworm  
    state: present
    update_cache: true

- name: Install Docker Module for Python
  apt:
    pkg:
      - python3-docker=5.0.3-1
    state: present
    update_cache: true
